---
import Title from "./Title.jsx";
import { Image } from "astro:assets";
import me from "@/assets/me.webp";
---

<section class="lg:py-16">
  <Title client:load>
    <p
      class="text-[#ADB7BE] text-base sm:text-lg lg:text-xl mb-8"
      slot="introMessage"
    >
      Welcome to my portfolio! Explore my journey through code and creativity.
    </p>
    <div class="items-center" slot="buttons">
      <a
        href="#contact"
        class="px-3 py-2 md:px-6 md:py-3 w-full sm:w-fit rounded-full mr-4 bg-gradient-to-r from-violet-600 to-indigo-600 hover:bg-slate-200 text-white"
      >
        Hire Me
      </a>
      <a
        href="/Documents/CV.pdf"
        download="CV"
        target="_blank"
        rel="noreferrer"
        class="px-3 py-2 md:px-6 md:py-3 w-full sm:w-fit rounded-full mr-4 bg-transparent hover:bg-slate-800 text-white border border-white mt-3"
      >
        Download CV
      </a>
    </div>
    <Image
      src={me}
      alt="Image-of-me"
      slot="image"
      class="object-cover w-full h-full"
    />
  </Title>
</section>
