---
import Timeline from "./Timeline.astro";
import Skills from "./Skills.astro";
---

<section class="text-white mt-10" id="about">
  <div
    class="flex flex-col md:flex-row gap-8 md:justify-between py-8 px-4 xl:gap-16 xl:px-16 sm:py-16"
  >
    <div class="mt-4 md:mt-0 text-left flex flex-col md:w-1/2 h-full">
      <h2 class="text-4xl font-bold text-white mb-4 mt-10 lg:mt-0">About me</h2>
      <p class="text-base lg:text-lg">
        I´m a seasoned developer with three years of experience across various
        companies. Beyond my work, you&apos;ll often find me immersed in my
        other passions like photography, books and music. I love going to the
        gym everyday and enjoy pretty much practicing any sport. When I&apos;m
        not coding or enjoying one of my hobbies, you can catch me cheering for
        my favorite sports teams, with my lovely girlfriend or at Top Golf with
        my friends. Let&apos;s connect and share our passions!
      </p>
      <div class="flex mt-4">
        <h3 class="text-2xl font-bold">Skills</h3>
      </div>
      <div class="mt-8 mb-8 md:mb-0">
        <Skills />
      </div>
    </div>
    <div class="mt-4 md:mt-0 text-left flex flex-col">
      <h2 class="text-4xl font-bold text-white mb-8 mt-10 lg:mt-0">
        Work Experience
      </h2>
      <Timeline />
    </div>
  </div>
</section>
