---
// const TAB_DATA = [
//   {
//     title: "Skills",
//     id: "Skills",
//     content: (
//       <div class="flex gap-10">
//         <ul class=" list-disc pl-2">
//           <li>React</li>
//           <li>JavaScript</li>
//           <li>Node.js</li>
//         </ul>
//         <ul class=" list-disc pl-2">
//           <li>SQL Server</li>
//           <li>Java</li>
//           <li>C#</li>
//         </ul>
//         <ul class=" list-disc pl-2">
//           <li>C++</li>
//           <li>Servicenow</li>
//           <li>.NET</li>
//         </ul>
//       </div>
//     ),
//   },
//   {
//     title: "Education",
//     id: "Education",
//     content: (
//       <ul class="  pl-2">
//         <li class=" list-disc">Bachelors in Computer Science at </li>
//         <li>Instituto Tecnologico de Saltillo</li>
//         <li>2017-2022</li>
//       </ul>
//     ),
//   },
//   {
//     title: "Experience",
//     id: "Experience",
//     content: (
//       <ul class=" list-disc pl-2">
//         <li>Lennox International</li>
//         <li>Hexaware Technologies</li>
//         <li>Eviden</li>
//       </ul>
//     ),
//   },
// ];
---

<section class="text-white" id="about">
  <div
    class="md:grid md:grid-cols-2 gap-8 items-center py-8 px-4 xl:gap-16 xl:px-16 sm:py-16"
  >
    <img
      src="/images/desk.png"
      alt="code"
      width={500}
      height={500}
      class="rounded-2xl"
    />

    <div class="mt-4 md:mt-0 text-left flex flex-col h-full">
      <h2 class="text-4xl font-bold text-white mb-4 mt-10 lg:mt-0">About me</h2>
      <p class="text-base lg:text-lg">
        I´m a seasoned developer with three years of experience across various
        companies. Beyond my work, you&apos;ll often find me immersed in my
        other passions like photography, books and music. I love going to the
        gym everyday and enjoy pretty much practicing any sport. When I&apos;m
        not coding or enjoying one of my hobbies, you can catch me cheering for
        my favorite sports teams, with my lovely girlfriend or at Top Golf with
        my friends. Let&apos;s connect and share our passions!
      </p>
      <div class="flex mt-8 gap-3">
        <!-- <TabButton
              selectTab={() => handleTabChange("Skills")}
              active={tab === "Skills"}
            >
              Skills
            </TabButton>
            <TabButton
              selectTab={() => handleTabChange("Education")}
              active={tab === "Education"}
            >
              Education
            </TabButton>
            <TabButton
              selectTab={() => handleTabChange("Experience")}
              active={tab === "Experience"}
            >
              Experience
            </TabButton> -->
      </div>
      <div class="mt-8">
        <!-- {TAB_DATA.find((t) => t.id === tab).content} -->
      </div>
    </div>
  </div>
</section>
