---
import NextIcon from "@/components/Icons/Next.astro";
import AstroIcon from "@/components/Icons/Astro.astro";
import ReactIcon from "@/components/Icons/React.astro";
import JsIcon from "@/components/Icons/Js.astro";
import TypeScriptIcon from "@/components/Icons/TypeScript.astro";
import HTMLIcon from "@/components/Icons/HTML.astro";
import CSSIcon from "@/components/Icons/CSS.astro";
import TailwindIcon from "@/components/Icons/Tailwind.astro";
import GithubIcon from "@/components/Icons/Github.astro";
import CIcon from "@/components/Icons/C.astro";
import SQLIcon from "@/components/Icons/SQL.astro";
---

<div class="flex flex-wrap md:flex-row gap-4 justify-between md:justify-normal">
  <NextIcon />
  <AstroIcon />
  <ReactIcon />
  <JsIcon />
  <TypeScriptIcon />
  <HTMLIcon />
  <CSSIcon />
  <TailwindIcon />
  <GithubIcon />
  <CIcon />
  <SQLIcon />
</div>
