---
import BriefCase from "./BriefCase.astro";
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-600"
    >
      <BriefCase />
    </span>
    <h3
      class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
    >
      Eviden - Product Developer <span
        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-600 dark:text-indigo-200 ms-3"
        >Current</span
      >
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Since January 16th, 2023</time
    >
  </li>
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-600"
    >
      <BriefCase />
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Hexaware - Tester
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >From July 11th 2022 - To January 13th 2023</time
    >
  </li>
  <li class="ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-600"
    >
      <BriefCase />
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Lennox - Software Developer
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >From August 2nd 2021 - To July 8th 2022</time
    >
  </li>
</ol>
