---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar.astro";
---

<Layout title="Jπ - Portfolio">
  <main>
    <h1 class="text-white font-black text-2xl uppercase text-center p-8">
      Welcome to my Portfolio
    </h1>
    <NavBar />
  </main>
</Layout>
