---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar/NavBar.astro";
import HeroSection from "@/components/Hero/HeroSection.astro";
import About from "@/components/About/About.astro";
import Contact from "@/components/Contact/Contact.astro";
import Footer from "@/components/Footer/Footer.astro";
import Projects from "@/components/ProjectsSection/Projects.jsx";
---

<Layout title="Jπ - Portfolio">
  <main class="flex min-h-screen flex-col bg-[#121212]">
    <NavBar />
    <div class="container mx-auto px-12 py-4 mt-24">
      <HeroSection />
      <About />
      <Projects client:visible />
      <Contact />
      <Footer />
    </div>
  </main>
</Layout>
