<footer class="footer z-10 border-r-transparent text-white">
  <div class="container p-12 flex justify-between">
    <span>Jπ</span>
    <p class="text-slate-600">All rights reserved</p>
  </div>
</footer>
